<h2><%= @list.name %></h2>
<%= render 'todos/create' %>

<h3>Active Tasks</h3>
<div class="todos" id="active_todos">
  <%= render @active_todos %>
</div>

<h3>Completed Tasks</h2>
<div class="todos" id="complete_tasks">
  <%= render @completed_todos %>
</div>
