/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

* {
  font-family: helvetica;
  background-color: #E0E4CC;
}

body {

  padding-left: 200px;
  padding-right: 200px;
}

h1 {
  color: white;
  background-color: #69D2E7;
  font-family: helvetica;
  font-size: 50px;
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 5px;
  margin: 0px;
}

#user_nav, a {
  color: #FA6900;
  background-color: #A7DBD8;
  text-decoration: none;
  text-align: right;
  padding-right: 10px;
}